<br><br>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="card">
		  <div class="card-header">
		    <h1>About the project</h1>
		  </div>
		  <div class="card-body">
		    <p class="card-text">The BookingApp is a simple facility room booking system done by Zhi Kuan as an assignment by GovTech.
		    	<br><br>
			This project is a Web based application with built-in key features to manage facilities to allow for users to book office facilities during working hours. This booking system shows all available timeslot of all facilities that are present in the company and is an all-in-one system to allow for booking. Users can make bookings for multiple rooms at different timeslots and booking is based on a first come first serve basis.</p>
		  </div>
		</div>
	</div>
</div>